body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;

  background: #ffffff;
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

/* Header */

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.menu {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.logo-prefix,
.menu:hover,
.menu:focus,
.contacts-link-header:hover,
.contacts-link-header:focus,
.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: #2196f3;
}

.contacts-link-header {
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* Main Sign & Short Description */

.front {
  background-color: #2f303a;
}

h1 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  color: #ffffff;
  background: #2196f3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

button:hover,
button:focus {
  cursor: pointer;
}

.advantages-title {
  color: #2f303a;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-title-info {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* What we do */

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

/* Our Team */

.team {
  background-color: #f5f4fa;
}

.member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.member-position {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
/* Footer */

footer {
  background-color: #2f303a;
}

.logo-suffix {
  color: #ffffff;
}

.location {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contacts-link-footer {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
